#titlediv{
  position: relative
  text-align: center;
}
#splash-heading{
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5em;
}

#linea{
  height: 8vw;
  width: 10%;
  padding-left: 5vw;
  border-radius: 1em;
  background-color:lightblue;
}

#dayselection{
  padding: 10px;
  position: relative;
  height: auto;
}
#seperator-row{
  padding-top: 50px;
  width: 100%;
  height: 20px;
  float: none;
}
.day{
  font-size: 2em;
}

.dbutton{
  height: 30px;
  width: 100px;
  float: left;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
}
.daybuttona{
  padding-bottom: 10px;
}
.dbuttontextcontainer{
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  top: 50%;
  transform: translate(0,-50%);
}
.dbuttontext{
  color: white;
  text-decoration-line: none;
}
.dbutton-seperator{
  float:left;
  height: 30px;
  width: 20px;
}
.food, .flag, .hotel, .plane, .shopping, .travel{
  list-style: none;
  text-indent: 1em;
  position:relative;
}

.food:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/food.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.flag:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/flag.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.hotel:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/hotel.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.plane:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/plane.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.shopping:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/shopping.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.travel:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/travel.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}
