#titlediv{
  position: relative
  text-align: center;
}
#splash-heading{
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5em;
}

#linea{
  height: 8vw;
  width: 10%;
  padding-left: 5vw;
  border-radius: 1em;
  background-color:lightblue
  ;
#heigt:100p x
}

.day{
  font-size: 2em;
}
.food, .flag, .hotel, .plane, .shopping, .travel{
  list-style: none;
  text-indent: 1em;
  position:relative;
}

.food:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/food.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.flag:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/flag.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.hotel:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/hotel.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.plane:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/plane.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.shopping:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/shopping.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.travel:before{
   position:absolute;
   left:-2em;
   content: "";
   display: inline-block;
   height: 1em;
   width: 1em;
   padding-top: 0.3em;
   background-image: url('img/icon/travel.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}
